.dialog-container {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}
.dialog-box {
  display: flex;
  flex-direction: column;
}

input, textarea {
  background-color: inherit;
}

.btn-close {
  left: 90%;
  background-color: transparent;
  color: #000;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-action-buttons {
  justify-content: end;
}
.mat-button-base {
  margin-left: 2px !important;
}

.btn-normal {
  background-color: #2e6092 !important;
  color: white;
}
