.columns {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  margin-top:14px;
  flex-wrap: wrap;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 12px;
  padding: 8px;
  border-radius: 3px;
  background-color: #dcdee5;
  cursor:grabbing;
}
.cdk-drag-placeholder {
  visibility:hidden;
}
