.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e2dada;
    border: 1px solid #000;

    p {
        color:chocolate;
        font-size: 1.5rem;
    }
}