<div class="container">
<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex.gt-md="25" fxFlex.md="50" fxFlex.sm="100">
        <app-card label="User Activity" total="453" percentage="85" [data]="cards[0]"></app-card>
    </mat-card>
    <mat-card fxFlex.gt-md="25" fxFlex.md="50" fxFlex.sm="100">
        <app-card label="Tasks Ratings" total="4.3" percentage="76" [data]="cards[1]"></app-card>
    </mat-card>
    <mat-card fxFlex.gt-md="25" fxFlex.md="50" fxFlex.sm="100">
        <app-card label="Tasks Completion" total="512" percentage="92.5" [data]="cards[2]"></app-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center" fxLayoutGap="20px" style="margin-left: 20px;">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="ToDo">
                    <th mat-header-cell *matHeaderCellDef> To Do </th>
                    <td mat-cell *matCellDef="let element"> {{element.ToDo}} </td>
                </ng-container>

                <ng-container matColumnDef="Progress">
                    <th mat-header-cell *matHeaderCellDef> In Progress </th>
                    <td mat-cell *matCellDef="let element"> {{element.Progress}} </td>
                </ng-container>

                <ng-container matColumnDef="Completed">
                    <th mat-header-cell *matHeaderCellDef> Completed </th>
                    <td mat-cell *matCellDef="let element"> {{element.Completed}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

    </div>
    <div fxFlex="40">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div>
</div>

</div>

