.card-container {
  margin-bottom: 8px;
  transition: all 0.4s;
  display: flex;
  justify-content: space-between;
}

.mat-card-title {
  font-size: 20px;
  font-weight: 400;
}

.content {
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(80, 156, 237);
}

.warn {
  color: red;
}
