.container-card {
  margin-bottom: 8px;
  transition: all 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  padding: 16px;
}

.title {
  font-size: 20px;
  font-weight: 400 !important;
  padding: 2px;
}

.content {
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(80, 156, 237);
  margin-bottom: 0;
}

.warn {
  color: red;
}
