.centered-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
      position: absolute;
      left: 0;
  }
}

.container, mat-sidenav-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

mat-sidenav-container {
  background: transparent;
}

mat-sidenav-content {
  display: inline;
}