* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?auto=format&fit=crop&ixid=eyJhcHBfaWQiOjEyMDd9&ixlib=rb-1.2.1&q=80&w=1950") no-repeat top;
  // background: url("assets/boardBackground.jpeg") no-repeat top;
  //background: linear-gradient(-120deg, rgb(170, 167, 67), rgb(80, 156, 237)) 0% 0% / auto no-repeat scroll padding-box border-box rgb(82, 67, 170);

  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
